<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title | title }}</title>
</head>
<body>

<h1> {{ header }} </h1>
<p> {{ username }} </p>

{% for obj in products %}
    <h4>{{ obj.name }}</h4>
    <p>{{ obj.price }} euro</p>
{% endfor %}

{% if products_of_promotion %}
    <h3 style="color: red;">Products at discount</h3>
    {% for product in products_of_promotion %}
        <h4>{{ product.name }}</h4>
        <p>{{ product.price }} euro</p>
    {% endfor %}
{% endif %}
</body>
</html>